/* Base styles */
:root {
  --primary-font: Roboto, sans-serif;
  --link-logo-font: Raleway, sans-serif;
  --primavery-logo-color: #4d5ae5;
  --primavery-logo-color: #2e2f42; 
  --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #e7e9fc;
  --primary-navyblue-color: #2E2F42;
  --primary-slate-color: #434455;
  --active-link-color: #404bbf;
  --light-background-color: #f4f4fd;
  --light-background-color:#2e2f42;
  --primavery-list-color: #2e2f42;
  --primavery-doing-title: #2e2f42;
  --primavery-team-title: #2e2f42;
  --primavery-team-caption: #2e2f42;
  --primavery-team-text:  #434455;
  --primavery-footer-text: #F4F4FD;
  
} 

body {
font-family: Roboto, sans-serif;
font-style: normal;
background-color: #FFFFFF;
font-size: 16px;
font-weight: 400;
}

.link {
 color: var(--zlate);
 text-decoration: none;
 letter-spacing: 0.02em;
 line-height: 1.5;

}

button {
  font-family: inherit;
  cursor: pointer;
}
.heder-logo {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 0.02em;
  color: #E7E9FC;
  color: #FFFFFF;  
  letter-spacing: 0.54px;
  text-transform: uppercase;
  list-style: none;
}
.heder-logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase; 
}  
    
.header-page {
  color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em; 
  text-decoration: none; 
  color: #2e2f42;
  list-style: none;
}
.logo-list .link:hover,
.logo-list .link:fokus {
  color: #404bbf;
}
  
/* Heder address */  

.header-address {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none; 
  
}
.address-list-item .link:hover,
.address-list-item .link:hover {
  color: #404bbf; 
}
/* Hero */
.hero {  
  flex-shrink: 0;
  color: #2E2F42;
  background-color: #2e2f42;
  text-align: center;
}
.hero-title {
  color: #ffffff    
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0,02em;
  text-align: center;
  
}
  

.hero-list-button { 
  color: #ffffff;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
  line-height: 1.5em;
  letter-spacing: 0.04em;
  

}

.hero-btn .link:hover,
.hero-btn .link:fokus {
  background-color: #404BBF;
}


/* Indicators */

.Indicators-section-list {
  font-family: Roboto;
  letter-spacing: 0,02em;
}
.indicators-title {
  color: #2e2f42; 
  font-size: 20px; 
  font-weight: 500;  
  line-height: 1.2em;
  letter-spacing: 0.02em;

  }

.indicators-text {
  color: var(--slate, #434455);   
  font-size: 16px;  
  font-weight: 400;
  line-height: 24px; /* 150% */
  line-height: 1.5em;
  letter-spacing: 0.02em;

  }

.indicators--list-item {
  color: var(--slate, #434455); 
  font-size: 16px;  
  font-weight: 400;
  line-height: 24px; /* 150% */
 }

.indicators-list-caption {
  color: var(--navyblue, #2E2F42);    
  font-size: 20px;  
  font-weight: 500;
  line-height: 1.2em;    
}

/* We are doing */
.doing-title {
  color: var(--navyblue, #2E2F42);  text-align: center;  
  font-family: Roboto;
  font-size: 36px;  
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0,02em;
  text-transform: capitalize;
}

.doing-list-item {

}
.doing-list-img-monitor{  
  color: #E7E9FC;
 
}
.doing-list-img-tabs {  
  color: #E7E9FC;
}
.doing-list-img-telefon {
  color: #E7E9FC;  
}

/* Team card */
.team {
  background-color: #F4F4FD; 
}
.team-title {
  color: var(--navyblue, #2E2F42);
  text-align: center;       
  font-family: Roboto;
  font-size: 36px;  
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0,02em;
  text-transform: capitalize;
 
}
.team-list {
  background-color: #FFFFFF;
}
.team-list-caption {
  color: var(--navyblue, #2E2F42);
  text-align: center;      
  font-family: Roboto;
  font-size: 20px; 
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0,02em; 
}
.team-text {
  стиль font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;

}
.footer {
  background-color:#2e2f42;
}

.footer-logo {
  color: #4d5ae5;
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5em;
  color: #F4F4FD;
  color: #F4F4FD;
}



