/* Base styles */
:root {
  --primary-font: Roboto, sans-serif;
  --link-logo-font: Raleway, sans-serif;
  --primavery-logo-color: #4d5ae5;
  --primavery-logo-color: #2e2f42; 
  --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #e7e9fc;
  --primary-navyblue-color: #2E2F42;
  --primary-slate-color: #434455;
  --active-link-color: #404bbf;
  --light-background-color: #f4f4fd;
  --light-background-color:#2e2f42;
  --primavery-list-color: #2e2f42;
  --primavery-doing-title: #2e2f42;
  --primavery-team: #2e2f42;  
  --primavery-team-text:  #434455;
  --primavery-footer-text: #F4F4FD;
  --primavery-page-color: #404bbf;
  
  
} 

body {
font-family: Roboto, sans-serif;
font-style: normal;
background-color: #FFFFFF;
font-size: 16px;
font-weight: 400;
color: #434455;
}

.link {
 color: var(--zlate);
 text-decoration: none;
 letter-spacing: 0.02em;
 line-height: 1.5;

}

button {
  font-family: inherit;
  cursor: pointer;
}
.link-header-logo {
  color: var(--iris, #4D5AE5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
  list-style: none;
  line-height: 1.17;

}
.header-logo-dark {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;  
  letter-spacing: 0.03em;
  text-transform: uppercase; 
  color: #2e2f42;
  line-height: 1.17;
}  
    
.pages-list-item {
  color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em; 
  text-decoration: none; 
  color: #2e2f42;
  list-style: none;
  color: #404bbf
  color: #2e2f42;
 
 
}
.pages-list-item .link:hover,
.pages-list-item .link:focus {
  color: #404bbf;
}
  
/* Header address */  

.header-address {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-decoration: none; 
  
}
.header-address .link:hover,
.header-address .link:focus {
  color: #404bbf; 
}
/* Hero */
.hero {  
  flex-shrink: 0;
  color: #2E2F42;
  background-color: #2e2f42;
  text-align: center;
}
.hero-title {  
  color: var(--white, #FFF);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0,02em; 
}
.hero-list-btn .link:hover,
.hero-list-btn .link:focus {
  background-color: #404BBF;
}

  

.hero-list-btn { 
  color: #ffffff;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500; 
  line-height: 1.5em;
  letter-spacing: 0.04em;   
}

/* Indicators */

.indicators-section-list {
  font-family: Roboto;
  letter-spacing: 0,02em;
}
.indicators-list-caption {
  color: #2e2f42; 
  font-size: 20px; 
  font-weight: 500;  
  line-height: 1.2em;
  letter-spacing: 0.02em;

  }

.indicators-list-text {
  color: var(--slate, #434455);   
  font-size: 16px;  
  font-weight: 400;
  line-height: 24px; /* 150% */
  line-height: 1.5em;
  letter-spacing: 0.02em;

  }

/* We are doing */
.list-doing-title {
  color: var(--navyblue, #2E2F42);  text-align: center;  
  font-family: Roboto;
  font-size: 36px;  
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0,02em;
  text-transform: capitalize;
  line-height: 1.11;
}

.doing-list-img1{  
  color: #E7E9FC;
 
}
.doing-list-img2 {  
  color: #E7E9FC;
}
.doing-list-img3 {
  color: #E7E9FC;  
}

/* Team card */
.team {
  background-color: #F4F4FD; 
}
.team-title-list {
  color: var(--navyblue, #2E2F42);
  text-align: center;       
  font-family: Roboto;
  font-size: 36px;  
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0,02em;
  text-transform: capitalize;
  
 
}
.list-team-list {
  background-color: #FFFFFF;
}

.team-list-img {
  background-color: #FFFFFF;

}
.team-list-caption {
  color: var(--navyblue, #2E2F42);
  text-align: center;      
  font-family: Roboto;
  font-size: 20px; 
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0,02em; 
}
.team-list-text{
  стиль font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;

}
.list-footer-list {
  background-color:#2e2f42;
}

.footer-logo {
  color: var(--iris, #4D5AE5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
  list-style: none;
   line-height: 1.17;

}

.link-footer-studio {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;  
  letter-spacing: 0.03em;
  text-transform: uppercase; 
  color: #2e2f42;
  line-height: 1.17;
  color: #f4f4fd
} 

.footer-list-text {
  line-height: 1.5em;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}



