/* Base styles */


.section {

}

.link {
  text-decoration: none;
}
.list {

}
/* Header 1 */
.heder {
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  color: : #E7E9FC;
  color: #FFFFFF
}
.link-logo {

}
.link-studio {

}
.link-portfolio {

}
.link-contscts {

}



/* Hero */
.hero {  
background: var(--navyblue, #2E2F42);
width: 1440px;
height: 600px;
flex-shrink: 0;
color: #2E2F42;
}
.hero-title {
  color: var(--white, #FFF);
  text-align: center;
  color: #FFFFFF;

  /* Header 1 */
  .heder {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
  }
  


.hero-list-btn {
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #4D5AE5;
color: white;
}

.hero-list-btn:hover,
.hero-list-btn:focus {
border: 2px dotted teal;
color: teal;
background-color: white;
}


/* Indicators */

.Indicators-section {

}
.indicators-title {

}
.indicators-list {
  
}
.indicators--list-item {

}
.indicators-list-caption {

}
/* We are doing */
.doing {

}
.doing-title {

}
.doing-list {

}
.doing-list-item {

}
.doing-list-img {

}

/* Team card */
.team {

}
.team-title {

}
.team-list {

}
.team-list-item {

}
.team-list-img {

}
.team-list-caption {

}

